<!DOCTYPE html>
<html>
  <head>
    <title>Heroflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Heroflix" />
     
      <meta property="og:description"
       content="A streaming service where you can any TV show or movie related to superheroes."
     />
      <meta property="og:url"
       content="https://hero-flix.herokuapp.com/"
     />
     <%# <meta property="og:image" content="<%= image_url('heroflix.jpg') %>" /> %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
